<div class="container-fluid">

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Amici</h4>
                    </div>

                </div>
                <div class="inbox_chat">
                    <div *ngFor="let p of personalCards; let i = index">
                        <div class="chat_list" *ngIf="username !== p.user.username"
                            [ngClass]="{'active_chat': isActive(i)}">
                            <div class="chat_people" (click)="getMessage(p, i)">
                                <div class="chat_img"> <img class="md-avatar rounded-circle" [src]="p.base64StringImage"
                                        alt="sunil" height="30px" width="30px"> </div>
                                <div class="chat_ib">
                                    <h5 [ngClass]="{'chat_ib_active': toBeRead(i)}">
                                        {{p.user.username}} <span class="chat_date"></span>
                                    </h5>
                                    <p *ngIf="lastMessage[p.user.username]" [ngClass]="{'chat_ib_active': toBeRead(i)}">
                                        {{lastMessage[p.user.username]}}</p>
                                    <p *ngIf="!lastMessage[p.user.username]">Conversazione con {{p.user.username}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs" *ngIf="showInboxMessage">
                <div class="msg_history" #scrollMe>
                    <div *ngFor=" let c of chatMessage">
                        <div class="incoming_msg">
                            <div *ngIf="isReceived(c)">
                                <div class="incoming_msg_img"> <img class="md-avatar rounded-circle"
                                        [src]="currentUser.base64StringImage" alt="sunil" height="30px" width="30px">
                                </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{c.content}}</p>
                                        <span class="time_date"> 11:01 AM | June 9</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg" *ngIf="isSent(c)">
                            <div class="sent_msg">
                                <p>{{c.content}}</p>
                                <span class="time_date"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form (ngSubmit)="sendMessage()">
                            <input type="text" class="write_msg" placeholder="Scrivi un messaggio"
                                [(ngModel)]="sendingMessage" name="sendingMessage" />
                            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>