<div class="container-fluid" style="padding: 0px; background-color: #fafafa;">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color light-blue darken-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li [ngClass]="{'nav-item': true, 'active': activatedBoard === 0}">
                    <a class="nav-link" (click)= "showTodoBoard()">Todo</a>
                </li>

                <li class = "nav-item" [ngClass]="{'nav-item': true, 'active': activatedBoard === 2}">
                    <a class="nav-link" (click) = "showEventBoard()">Eventi</a>
                </li>
              
             </ul>
        </div>
    </nav>
    <div style="padding: 25px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 no-gutters" style="background-color: white;">
                    <div *ngFor="let t of todoList">
                        <app-todo-card (messageEvent)="openModal($event)" [todo]="t"></app-todo-card>
                        <div style="height: 20px; background-color: #fafafa;"></div>
                    </div>

                    <div *ngFor="let e of eventList">
                        <app-event-card (messageEvent)="openMap($event)" [eventPost]="e"></app-event-card>
                        <div style="height: 20px; background-color: #fafafa;"></div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

<div (click)="closeMap()" *ngIf="isMapOpen" id="myModal" class="modal">
    <div class="modal-content">
      <span (click)="closeMap()" class="close">×</span>
      <span id="modal-title">Mappa</span>
      <iframe height="450" frameborder="0" style="border:0"
        [src]='sanitizeUrl()' allowfullscreen>
      </iframe>
    </div>
</div>

<div *ngIf="currentTodo" (click)="closeModal()" id="myModal" class="modal">
    <div class="modal-content">
      <span (click)="closeModal()" class="close">×</span>
      <span id="modal-title">Utenti proposti</span>
      <div class="modal-list">
        <div class="row" *ngFor="let proposal of currentTodo.proposals">
          <div class = "modal-user" >{{proposal.user.username}}</div>
        </div>
        </div>
      </div>
</div>