h1{
    text-align: center;
    padding: 12px;
}

#doneit-image{
    padding-right: 15px;
}

@media screen and (max-width: 1200px) { 
    #doneit-image{
        display: none;
    }
 }


 .background{
    position: fixed;
    top: 60%;
    left: 0;
    background-color: #0277bd;
    width: 100%;
    z-index: -1;
    height: 100%;

}

#test{
    margin-top: 48px;
}


/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */