<div class="container-fluid">
    <div style="background-color: white;">
        <div class="card-body text-center">
            <select class="form-control" (change)="showForm($event.target.value)">
                <option value="todo">Todo</option>
                <option value="event">Evento</option>
                <option>Storia</option>
            </select>
              <div *ngIf ="todoResponseMessage == 6" class="alert alert-success" role="alert">
                Todo creato correttamente
              </div>

              <div *ngIf ="todoResponseMessage == 15" class="alert alert-danger" role="alert">
                Non hai i cfu necessari per creare il todo
              </div>

              <div *ngIf ="eventResponseMessage == 17" class="alert alert-success" role="alert">
                Evento creato correttamente
              </div>
              
            <app-todo *ngIf="activatedForm == 'todo'"></app-todo>
            <app-event *ngIf="activatedForm == 'event'"></app-event>
        </div>
    </div>
</div>