#todo-title{
    margin: 30px;
}

#follow-todo{
    margin: 12px;
}

#todo-user{
    color: black;
    font-weight: bold;
}

#time{
    font-size: 1rem;
    color: #7c7c7c;
}

#info-todo{
    font-size: 1rem;
    color: #7c7c7c;
}


.container{
    padding: 0px !important;
    margin-bottom: 10px;
}



@media screen and (min-width: 1200px) { 
    #icon-div1{
        text-align: right !important;
        padding: 2px !important;
    
    }
    #icon-div2{
        text-align: left !important;
        padding: 2px !important;
    }
 }

 #description-text{
     margin: 12px !important;
 }

